.primary_button{
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;
    background: #000000;
    border: none;
    background-color: transparent;
}

.button{
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
    background: #101010;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000040;
    margin: 0;
    border: none;
    width: 100%;
    padding: 22px 0;
}

.button:hover{
    background: #1a1a1a;
}

.button:active{
    background: #2e2e2e;
}