.header_wrap{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header_wrapIcons{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.header_wrapIcon{
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapIcon:hover{
    background-color: #cccaca;
}

.header_wrapIcon:active{
    background-color: #b9b9b9;
}


.header_iconContent{
    width: 18px;
    height: 18px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    background: #FFA542;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    z-index: 10;
}