.price_content{
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;
    color: #FFA542;
    margin: 0;
}

.price_contentLast{
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 600;
    color: #FFCE7F;
    text-decoration: line-through;
    margin: 0;
    text-align: center;
}