.page_title{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    color: #1C1C27;
}

.cart_wrap{
    display: grid;
    grid-template-columns: 1fr 348px;
    gap: 127px;
}

.catalogPage_wrap{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

@media all and (max-width:1460px){
    .cart_wrap{
        gap: 40px;
    }
}

@media all and (max-width:890px){
    .cart_wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }
}