.cartInfo_wrap{
    width: 348px;
    position: relative;
    max-height: 114px;
}

.cartInfo_title{
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.cartInfo_wrapTitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.cartInfo_wrapButton{
    position: absolute;
    top: 60px;
    width: 100%;
}

@media all and (max-width:890px){
    .cartInfo_wrap{
        width: 100%;
    }
}